{% extends 'base.html' %}
{% block title %}Service and Delivery History{% endblock title %}

{% block body %}
<section class="service-history">
    <div class="container-fluid p-5">
        <!-- Delivery History Section -->
        <div class="row">
            <div class="col-lg-9">
                <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-4">Delivery History</p>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
                <div class="input-group">
                    <div class="form-outline" data-mdb-input-init style="width: 70%;">
                        <input type="search" id="form2" class="form-control" />
                        <label class="form-label" for="form2">Search</label>
                    </div>
                    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid border Larger shadow rounded-5">
            <div class="row">
                <div class="col-lg-12 rounded-end-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Delivery ID</th>
                                <th>Brand</th>
                                <th>Model</th>
                                <th>Product Serial No.</th>
                                <th>Problem</th>
                                <th>Service Remark</th>
                                <th>Delivery Date</th>
                                <th>Customer Experience</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="delivery-table-body">
                            {% for delivery in deliveries %}
                            <tr>
                                <td>{{ delivery.id }}</td>
                                <td>{{ delivery.service.product.brand }}</td>
                                <td>{{ delivery.service.product.model }}</td>
                                <td>{{ delivery.service.product.serialNo }}</td>
                                <td>{{ delivery.service.product.problem }}</td>
                                <td>{{ delivery.service.serviceRemark }}</td>
                                <td>{{ delivery.deliveryDate }}</td>
                                <td>
                                    {% if delivery.customerSatisfaction == 'Satisfied' %}<i class="fa-regular fa-face-smile-beam rounded-circle bg-success" style="font-size: 30px; color: white; border: 1px solid black;"></i>
                                    {% elif delivery.customerSatisfaction == 'Neutral' %}<i class="fa-regular fa-face-meh rounded-circle bg-warning" style="font-size: 30px; color: white; border: 1px solid black;"></i>
                                    {% else %}<i class="fa-regular fa-face-frown rounded-circle bg-danger" style="font-size: 30px; color: white; border: 1px solid black;"></i>
                                    {% endif %}
                                    </td>
                                <td>
                                    <a href="{% url 'delivery_details' delivery.id %}" class="btn btn-sm btn-primary me-1">View Delivery Details</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
