{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock title %}

{% block body %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Profile</p>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <strong>Name :</strong><p>{{user.first_name}}</p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <strong>Email :</strong><p>{{user.email}}</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <a href="{% url 'profile_update' user.id %}" class="btn btn-primary rounded-pill text-white">Edit Profile</a>
                                    </div>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex flex-column align-items-center order-1 order-lg-2">
                                <div class="mb-4">
                                    <img id="profileImage" src="{% if profile_img %} {{ user.profile_img.url }} {% else %} {% static 'images/profile-placeholder.jpg' %} {% endif %}" class="img-fluid rounded-circle" alt="Profile image" width="250px" height="250px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}
